/*==========================================
COLORS
============================================*/
$primary-razzmatazz: #E10856;
$primary-teal: #0feffd;
$primary-white: #fff;
$primary-eerie: #1d1d1d;
$secondary-dust: #c4c4c4;
$secondary-carbon: #333333;
$secondary-nero: #262626;
$dark-100: #23293e;
$dark-200: #636366;
$purple-100: #ca35f7;
$gray-02-light: #aeaeb2;

/*==========================================
TYPOGRAPHY
============================================*/

// Font weight

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;


// Font size
$xxsm: 1.2rem;
$xsm: 1.4rem;
$sm: 1.6rem;
$md: 1.8rem;
$lg: 2.4rem;
$xl: 3.2rem;
$xxl: 5.6rem;

// Line heights
$lhxsm: 1.4rem;
$lhsm: 1.6rem;
$lhmd: 2.4rem;
$lhlg: 3.2rem;
$lhxl: 4rem;
$lhxxl: 6.4rem;

// Space

$base-space: 1rem;